<a href="https://colab.research.google.com/github/avellar1975/puc_minas/blob/main/notebooks/funcoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python: Lambda,Map,Filter,Reduce and Zip function
> Evandro Avellar

## Funções/expressões lambda

Também chamada de funções **anônimas**, são funções definidas anonimamente e em uma única linha.

Quando utilizamos uma função nomeada, **def**inimos um nome para a função e esse nome pode ser invocado posteriormente. Veja o exemplo:

In [ ]:
def potencia(num, pot):
    result = num ** pot
    return result

In [ ]:
potencia(3, 5)

243

Uma forma mais concisa seria já passar no ```return``` a operação:

In [ ]:
def potencia(num, pot):    
    return num ** pot

In [ ]:
potencia(2, 5)

32

Ou até mesmo definir numa única linha:

In [ ]:
def potencia(num, pot): return num ** pot

In [ ]:
potencia(5,2)

25

Funções lambda nada mais são do que funções anônimas. Enquanto funções normais podem ser criada utilizando def como prefixo, as funções lambda são criadas utilizando lambda. Não tem nada muito complicado aqui. Para criar uma função lambda você deve utilizar a seguinte sintaxe:

> **Syntax:** lambda *arguments* : expression

Vale notar que as funções lambda não utilizam a keyword return pois o retorno dentro de lambda é implícito.

Se definida dessa forma, a expressão ```lambda``` fica sem referência para uso posterior.

In [ ]:
lambda num, pot: num ** pot

In [20]:
add=lambda a,b,c: print(a+b+c)
add(4, 5, 1)

10

In [ ]:
lambda_pot = lambda num, pot: num ** pot # Podemos então atribuir a expressão lambda

In [ ]:
lambda_pot(3,4)

81

In [22]:
find_max=lambda a,b,c:a if a>b and a>c else (b if b>a and b>c else c)
print(find_max(6,15,1))

15

### Mas para que servem essas funções lambda?

Funções lambda funcionam da mesma forma que funções convencionais e, em geral, a escolha de adotar ou não seu uso é exclusivamente baseada em estilo de código.

Mas vamos supor que você tenha um dicionário de dados com a seguinte estrutura:

In [ ]:
users = [
  {
    "id": 1, 
    "name": "Allan", 
    "age": 27, 
    "profile_picture": "http://…", 
    "city": "São Paulo"
  },
  {
    "id": 2, 
    "name": "Julie", 
    "age": 29, 
    "profile_picture": "http://…", 
    "city": "Curitiba"
  },
  {
    "id": 3, 
    "name": "Pedro", 
    "age": 31, 
    "profile_picture": "http://…", 
    "city": "Rio de Janeiro"
  }
]

In [ ]:
users

[{'id': 1,
  'name': 'Allan',
  'age': 27,
  'profile_picture': 'http://…',
  'city': 'São Paulo'},
 {'id': 2,
  'name': 'Julie',
  'age': 29,
  'profile_picture': 'http://…',
  'city': 'Curitiba'},
 {'id': 3,
  'name': 'Pedro',
  'age': 31,
  'profile_picture': 'http://…',
  'city': 'Rio de Janeiro'}]

Você analisou tudo e viu que precisava fazer uma lista apenas com as pessoas que tem mais de 27 anos.
Um exemplo com funções convencionais utilizando *def*:

In [ ]:
# Crie a função que irá filtrar a lista
def users_over_27(user):
  return user["age"] > 27

# Filtramos os usuários utilizando o método filter
filtered_users = filter(users_over_27, users)

list(filtered_users)

[{'id': 2,
  'name': 'Julie',
  'age': 29,
  'profile_picture': 'http://…',
  'city': 'Curitiba'},
 {'id': 3,
  'name': 'Pedro',
  'age': 31,
  'profile_picture': 'http://…',
  'city': 'Rio de Janeiro'}]

Tudo bem que não é nada complicado e não temos muitas linhas de código, mas podemos simplificar ainda mais esse trecho de código e fazer tudo em uma linha só, utilizando lambda.

In [ ]:
filtered_users = filter(lambda user: user["age"] > 27, users)

list(filtered_users)

[{'id': 2,
  'name': 'Julie',
  'age': 29,
  'profile_picture': 'http://…',
  'city': 'Curitiba'},
 {'id': 3,
  'name': 'Pedro',
  'age': 31,
  'profile_picture': 'http://…',
  'city': 'Rio de Janeiro'}]

O legal disso é que podemos fazer tudo dentro de outra função, sem precisar criar uma função nomeada logo acima da função que estamos trabalhando. Sem falar que funções lambda são otimas para trabalhar com os métodos filter, reduce e map ou em casos onde precisamos repetir varias vezes certos trechos de código que não são tão complexos.

### Mais exemplos de funções lambda

In [ ]:
quadrado = lambda num: num * num
quadrado(4)

16

In [ ]:
par = lambda num: num % 2 == 0
par(3)

False

In [ ]:
first = lambda x: x[0]
first("Hello World")

'H'

In [ ]:
first([3, 2, 5, 4])

3

In [ ]:
inverte = lambda x: x[::-1]
inverte("Hello World")

'dlroW olleH'

In [ ]:
inverte([1, 2, 3, 4])

[4, 3, 2, 1]

## Funções map(), reduce(), filter() e zip()

### map() - Faz o mapeamento de uma entrada para uma saída. Recebe 2 argumentos: função e iterável.

<img src='https://raw.githubusercontent.com/avellar1975/puc_minas/main/img/map.png'>

> **Syntax**: map(fun, iter)

In [23]:
nums = [1, 2, 3, 4, 5]  
def sq(n):    
    return n*n  
square = list(map(sq, nums))
print(square)

[1, 4, 9, 16, 25]

- Usando lambda

In [24]:
nums = [1, 2, 3, 4, 5]
square = list(map(lambda x: x**x, nums))
print(square)

[1, 4, 27, 256, 3125]

In [25]:
people = ["lokesh", "bob", "tom", "developer"]
up = list(map(lambda x: x.upper(), people))
print(up)

['LOKESH', 'BOB', 'TOM', 'DEVELOPER']

In [26]:
names = [
    {'first': 'lokesh', 'last': 'sharma'},
    {'first': 'Astha', 'last': 'verma'},
    {'first': 'jiu', 'last': 'rai'}
 ]
first_names = list(map(lambda x: x['first'], names))
print(first_names)

['lokesh', 'Astha', 'jiu']

Conversão temperaturas Celsius em Fahrenheit

* 1a solução (usando função para conversão e percorrer lista com for)

In [ ]:
def fahrenheit(C):
    return (9/5)*C+32

In [ ]:
temp_Celsius = [9, 22, 38, 0, -10, 15, 27]

In [ ]:
for temp in temp_Celsius:
    print("{}°C".format(temp).rjust(8)+" = "+"{}°F".format(fahrenheit(temp)).rjust(8))

     9°C =   48.2°F
    22°C =   71.6°F
    38°C =  100.4°F
     0°C =   32.0°F
   -10°C =   14.0°F
    15°C =   59.0°F
    27°C =   80.6°F

> Sobre formação de strings: https://docs.python.org/pt-br/3/tutorial/inputoutput.html

* 2a solução (percorrer com for e usar função para gerar uma lista das temperaturas em F)

In [ ]:
temp_F = []
for temp in temp_Celsius:
    temp_F += [fahrenheit(temp)]
temp_F

[48.2, 71.6, 100.4, 32.0, 14.0, 59.0, 80.6]

* 3a solução: usar função a função map() para iterar a lista das temperaturas em °C e gerar a lista em °F

In [ ]:
temp_F2 = list(map(fahrenheit, temp_Celsius))
temp_F2

[48.2, 71.6, 100.4, 32.0, 14.0, 59.0, 80.6]

* 4a solução: usar função a função map() para iterar a lista das temperaturas em °C e gerar a lista em °F
- Dessa vez vamos usar uma função lambda no lugar da função fahrenheit

In [ ]:
temp_F3 = list(map(lambda C: (9/5)*C+32, temp_Celsius))
temp_F3

[48.2, 71.6, 100.4, 32.0, 14.0, 59.0, 80.6]

### reduce() - Aplica uma função a todos os valores da estrutura de dados, dois a dois, de forma a agregá-los em um único valor. Recebe 2 argumentos: função e iterável.

<img src='https://raw.githubusercontent.com/avellar1975/puc_minas/main/img/reduce.png'>

<img src='https://raw.githubusercontent.com/avellar1975/puc_minas/main/img/reduce2.png'>

In [1]:
from functools import reduce # Anteriormente era uma função built in do Python

In [2]:
numeros = [4, 2, 7, 1, 5, 9]

In [3]:
def soma(n1, n2):
    """
    Retorna a soma entre os 2 números recebidos por parâmetro.
    """    
    return n1 + n2

In [4]:
# Aplica a função soma em todos os valores da lista (dois a dois), retornando a soma de todos os elementos.
print(reduce(soma, numeros))

28

In [5]:
# Aplica a função soma em todos os valores da lista (dois a dois), retornando a soma de todos os elementos.
# Usa uma função lambda no lugar da função soma
print(reduce(lambda n1, n2: n1+n2, numeros))

28

In [6]:
# Definindo a função menor
def menor(n1, n2):
    """
    Retorna o menor entre os 2 números recebidos por parâmetro.
    """
    if n1 < n2:
        return n1
    else:
        return n2

In [7]:
print(reduce(menor, numeros))

1

In [8]:
print(reduce(lambda n1, n2: n1 if n1 > n2 else n2, numeros))

9

In [32]:
seq=[2,3,4,5,6]
multiply=reduce(lambda a,b:a*b,seq)
print(multiply)

720

### filter() - Aplica um filtro na estrutura de dados, retornando apenas os elementos que passaram por esse filtro. Recebe 2 argumentos: função e iterável.

<img src='https://raw.githubusercontent.com/avellar1975/puc_minas/main/img/filter.png'>

> **Syntax**: filter(fun, Iter)

In [9]:
numeros = [4, 2, 7, 1, 5, 9]

In [11]:
def impar(num):
    if num % 2 != 0:
        return True
    else:
        return False

In [12]:
impares = list(filter(impar, numeros))
impares

[7, 1, 5, 9]

In [13]:
pares = list(filter(lambda num: num%2 == 0, numeros))
pares

[4, 2]

In [14]:
numeros = [-4, 2, -7, 1, -5, 9]
positivos = list(filter(lambda num: num >= 0, numeros))
positivos

[2, 1, 9]

In [27]:
seq = [0, 1, 2, 3, 4, 5]

# result contains odd numbers of the list
result = filter(lambda x: x % 2, seq)
print(list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5]
[0, 2, 4]

In [28]:
users = [
    {"username": 'samuel', "tweets": ["i love cake", "i am good"]},
    {"username": 'andy', "tweets": []},
    {"username": 'kumal', "tweets": ["India", "Python"]},
    {"username": 'sam', "tweets": []},
    {"username": 'lokesh', "tweets": ["i am good"]},
]

In [29]:
inactive_users = list(filter(lambda a:not a['tweets'], users))
print(inactive_users)

[{'username': 'andy', 'tweets': []}, {'username': 'sam', 'tweets': []}]

In [30]:
inactive_users=list(map(lambda x:x["username"].upper(),
                    filter(lambda a:not a['tweets'], users)))
print(inactive_users)

['ANDY', 'SAM']

In [31]:
names=['lokesh','lassie','bob','to']
new=list(map(lambda name:f"your name is {name}",
        filter(lambda x:len(x)>4,names)))
print(new)

['your name is lokesh', 'your name is lassie']

### zip() - Combina dados de vários iteráveis, de forma que o i-ésimo elemento da tupla contenha o i-ésimo elemento de cada um dos iteráveis recebidos por parâmetro. A iteração é interrompida quando já tiver percorrido todos os elementos do menor dos iteráveis.

> **Syantax**: zip(*iterables)

In [15]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = [7, 8, 9]
l4 = [10,11,12,13]
list(zip(l1, l2))

[(1, 4), (2, 5), (3, 6)]

In [16]:
list(zip(l1, l2, l3))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [17]:
list(zip(l1, l2, l3, l4))

[(1, 4, 7, 10), (2, 5, 8, 11), (3, 6, 9, 12)]

In [18]:
nomes = ["Raul", "Bia", "José"]
idades = [32, 25, 28]
cidades = ["Campinas", "BHte", "João Pessoa"]
dados = list(zip(nomes, idades, cidades))

In [19]:
dados

[('Raul', 32, 'Campinas'), ('Bia', 25, 'BHte'), ('José', 28, 'João Pessoa')]

In [33]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
roll_no = [4, 1, 3]
marks = [40, 50, 60]

mapped = zip(name, roll_no, marks)

print(list(mapped))

[('Manjeet', 4, 40), ('Nikhil', 1, 50), ('Shambhavi', 3, 60)]

In [34]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60]

mapped = zip(name, marks)

print(dict(mapped))

{'Manjeet': 40, 'Nikhil': 50, 'Shambhavi': 60}